* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.divider-red {
  width: 100px;
  height: 4px;
  background-color: #BF0F0F;
  margin: 20px 0;
}

.red-button {
  background-color: #BF0F0F;
  padding: 15px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.inter-font {
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 50px;
}

@media (max-width: 665px) {
  .in-numbers .numbers-container .container-item {
    border: none;
  }
  #footer .contact-container .contact-item {
    border: none;
  }
}
@media (min-width: 1106px) and (max-width: 1400px) {
  #about .about-text {
    max-width: 280px;
  }
}
@media (max-width: 1105px) {
  #about {
    margin: auto;
    display: block;
  }
  #div-img {
    min-height: 400px;
  }
}
@media (max-width: 1285px) {
  .header nav .menu li {
    padding: 16px 20px;
  }
}
@media (max-width: 1004px) {
  .header nav .menu li {
    padding: 16px 10px;
  }
}
@media (min-width: 865px) {
  .hamburger {
    display: none !important;
  }
  .hamburger #menu-btn1,
  .hamburger #menu-btn2 {
    display: none !important;
  }
  ul {
    display: flex !important;
  }
}
@media (max-width: 864px) {
  /*HAMBURGER*/
  .header {
    height: 110px;
  }
  .header nav {
    background-color: #fff;
    height: 40px;
    border-top: 2px solid #fff;
  }
  .header nav .menu {
    max-width: 400px;
    display: none;
    flex-direction: column;
    background-color: #D9D9D9;
    align-items: center;
    text-align: center;
  }
  .header nav .menu li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
  }
  .header nav .menu li:hover {
    background-color: #fff;
    cursor: pointer;
  }
  .header nav .menu .button {
    margin: 10px 0;
  }
  .header nav .hamburger #menu-btn1 {
    display: block;
    position: absolute;
  }
  .header nav .hamburger #menu-btn2 {
    display: none;
    position: absolute;
  }
  .hero-header {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 400px;
  }
  .header .header-gray .languages {
    width: 200px;
    padding: 10px;
    float: left;
  }
  .header .header-gray .languages .toggle {
    display: block;
    float: left;
    padding-top: 10px;
  }
  .header .header-gray .languages .link {
    display: block;
    padding: 0;
  }
  .header .header-gray .languages .link:last-child {
    margin-left: 70px;
  }
}
@media (max-width: 390px) {
  #distribution .parallax .parallax-content h1 {
    font-size: 35px;
  }
  #distribution .distribution-container {
    width: 100%;
  }
  #distribution .distribution-container .distribution-item img {
    max-height: 250px;
  }
}
/*DARK MODE*/
.dark {
  background-color: #121212;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark p {
  color: #fff;
}
.dark .header nav {
  background-color: #121212;
}
.dark .header nav .hamburger #menu-btn1,
.dark .header nav .hamburger #menu-btn2 {
  color: #D9D9D9;
}
.dark .header nav .menu {
  background-color: #292929;
}
.dark .header nav .menu li a {
  color: #fff;
}
.dark .header nav .menu li a span {
  color: #D9D9D9;
}
.dark #about,
.dark #our-products {
  background-color: #121212;
}
.dark #distribution a {
  color: #fff;
}
.dark #brands .brands-container .brands-item p {
  color: #fff;
}
.dark .mymodal .modal-content {
  background-color: #121212;
  color: #fff;
}