* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.divider-red {
  width: 100px;
  height: 4px;
  background-color: #BF0F0F;
  margin: 20px 0;
}

.red-button {
  background-color: #BF0F0F;
  padding: 15px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.inter-font {
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 50px;
}

@media (max-width: 665px) {
  .in-numbers .numbers-container .container-item {
    border: none;
  }
  #footer .contact-container .contact-item {
    border: none;
  }
}
@media (min-width: 1106px) and (max-width: 1400px) {
  #about .about-text {
    max-width: 280px;
  }
}
@media (max-width: 1105px) {
  #about {
    margin: auto;
    display: block;
  }
  #div-img {
    min-height: 400px;
  }
}
@media (max-width: 1285px) {
  .header nav .menu li {
    padding: 16px 20px;
  }
}
@media (max-width: 1004px) {
  .header nav .menu li {
    padding: 16px 10px;
  }
}
@media (max-width: 864px) {
  .header nav .menu {
    height: 142px;
  }
  .hero-header {
    margin-top: 75px;
  }
}
@media (max-width: 508px) {
  /*MOBILNI HAMBURGER*/
  .header {
    height: 110px;
  }
  .header nav {
    background-color: #fff;
    height: 40px;
  }
  .header nav .menu {
    position: fixed;
    top: 70px;
    left: -150%;
    width: 100%;
    flex-direction: column;
    background-color: #D9D9D9;
    transition: 0.5s;
    align-items: center;
    text-align: center;
  }
  .header nav .menu .button {
    margin: 10px 0;
  }
  .header nav .menu .active {
    left: 0;
  }
  .header nav .hamburger .menu-btn1 {
    visibility: visible;
    position: absolute;
    color: black;
    right: 20px;
    font-size: 2rem;
    z-index: 999;
    padding-top: 5px;
  }
  .header nav .hamburger .menu-btn1:hover {
    cursor: pointer;
  }
  .header nav .hamburger .active .menu-btn1 {
    visibility: hidden;
  }
  .header nav .hamburger .active .menu-btn2 {
    visibility: visible;
  }
  .hero-header {
    margin-top: 0px;
  }
}
/*DARK MODE*/
.dark {
  background-color: #121212;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark p {
  color: #fff;
}
.dark .header nav .menu {
  background-color: #292929;
}
.dark .header nav .menu li a {
  color: #fff;
}
.dark .header nav .menu li a span {
  color: #D9D9D9;
}
.dark #about, .dark #our-products {
  background-color: #121212;
}
.dark #distribution a {
  color: #fff;
}
.dark #brands .brands-container .brands-item p {
  color: #fff;
}
.dark .mymodal .modal-content {
  background-color: #121212;
  color: #fff;
}