* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.divider-red {
  width: 100px;
  height: 4px;
  background-color: #BF0F0F;
  margin: 20px 0;
}

.red-button {
  background-color: #BF0F0F;
  padding: 10px 16px;
  border-radius: 4px;
  border-color: #BF0F0F;
  color: white;
  cursor: pointer;
}

.inter-font {
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 50px;
}

.header {
  height: 143px;
}
.header .header-gray {
  background-color: #D9D9D9;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header .header-gray .logo {
  padding: 15px 50px;
}
.header .header-gray .languages {
  text-decoration: none;
  color: #595959;
  padding: 25px 15px;
}
.header .header-gray .languages .link {
  padding: 5px;
  color: #595959;
  font-weight: 400;
  font-size: 14px;
}
.header .header-gray .languages .link:hover {
  text-decoration: none;
  color: gray;
}
.header nav {
  width: 100%;
}
.header nav .menu {
  height: 62px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.header nav .menu span {
  color: #595959;
}
.header nav .menu li {
  display: inline;
  border: 1px solid #D9D9D9;
  padding: 20px 50px;
  margin: 20px 0;
}
.header nav .menu li .button {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: center;
}
.header nav .menu li .button:hover {
  text-decoration: none;
  color: gray;
}

/*SLAJDER*/
.hero {
  margin: 0;
  width: 100%;
  height: 700px;
}

#about {
  min-height: 650px;
  background-color: #F4F4F4;
  display: flex;
  flex-wrap: wrap;
  color: #303030;
}
#about .about-img {
  min-width: 400px;
  align-self: center;
}
#about .about-img #dvg-image {
  width: 100%;
  height: auto;
}
#about .about-text {
  padding: 100px 50px;
  max-width: 525px;
}
#about .about-text h2 {
  font-weight: 700;
  font-size: 42px;
}
#about .about-text p {
  font-size: 14px;
  line-height: 22px;
  padding: 50px 0;
}

#distribution .parallax {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/distribution.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
}
#distribution .parallax .divider-red {
  margin: 20px auto;
}

.distribution-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.distribution-container .distribution-item {
  margin: 0 10px;
  cursor: pointer;
}
.distribution-container .distribution-item a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #474747;
}
.distribution-container .distribution-item a:hover {
  color: black;
  font-weight: bold;
}
.distribution-container .distribution-item img {
  margin-bottom: 10px;
}

.in-numbers {
  color: #303030;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}
.in-numbers .divider-red {
  margin: 20px auto 100px auto;
}
.in-numbers h2 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 100px;
}
.in-numbers p {
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0;
}
.in-numbers .numbers-container {
  width: 100%;
  min-height: 350px;
  background-image: url(../images/in-numbers.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.in-numbers .numbers-container .container-item {
  border-right: 1px solid #D9D9D9;
  padding: 0 100px;
  margin: 15px 0;
}
.in-numbers .numbers-container .container-item:last-child {
  border: none;
}
.in-numbers .numbers-container p {
  color: white;
  font-size: 15px;
}

#our-products {
  min-height: 800px;
  background-color: #F4F4F4;
  /*SLAJDER*/
}
#our-products .products-info {
  text-align: center;
  padding: 100px 50px 10px 50px;
  max-width: 525px;
  margin: 0 auto;
}
#our-products .products-info p {
  font-size: 14px;
  line-height: 22px;
  padding: 50px 0;
}
#our-products .products-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
#our-products .products-container .product-item {
  margin: 0 10px;
}
#our-products .products-container .product-item h5 {
  font-size: 15px;
  font-weight: 400;
  color: #474747;
}
#our-products .products-container .product-item img {
  margin-bottom: 10px;
}

#brands {
  text-align: center;
}
#brands .brands-info {
  text-align: center;
  padding: 100px 50px 10px 50px;
  max-width: 525px;
  margin: 0 auto;
}
#brands .brands-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
#brands .brands-container .brands-item {
  margin: 20px 50px 70px 50px;
}
#brands .brands-container .brands-item p {
  font-size: 15px;
  font-weight: 400;
  color: #474747;
  text-align: center;
}
#brands .brands-container .brands-item img {
  margin-bottom: 10px;
}
#brands .red-button {
  margin-bottom: 50px;
}

#footer {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .contact-container {
  color: white;
  line-height: 2rem;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
#footer .contact-container .contact-item {
  border-right: 1px solid #D9D9D9;
  padding-right: 150px;
  padding-left: 30px;
  margin: 50px 0;
}
#footer .contact-container .contact-item:last-child {
  border: none;
}
#footer .contact-container .contact-item a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
#footer .contact-container .contact-item a:hover {
  color: #595959;
}
#footer .contact-container .contact-item .social-media {
  margin-right: 10px;
}
#footer .contact-container .contact-item span {
  margin-left: 10px;
}
#footer .contact-container .contact-item h2 {
  margin-bottom: 20px;
}
#footer .footer-info {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 60px;
  color: #595959;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
#footer .footer-info a {
  text-decoration: underline;
  color: #595959;
  padding: 10px 0;
}
#footer .footer-info p {
  display: inline;
  padding: 10px 0;
}