* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.divider-red {
    width: 100px;
    height: 4px;
    background-color: #BF0F0F;
    margin: 20px 0;
}

.red-button {
    background-color: #BF0F0F;
    padding: 10px 16px;
    border-radius: 4px;
    border-color: #BF0F0F;
    color: white;
    cursor: pointer;
}

.inter-font {
    font-family: 'Inter', sans-serif;
    color: #474747;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 50px;
}

.header {
    height: 143px;

    .header-gray {
        background-color: #D9D9D9;
        width: 100%;
        height: 70px;

        display: flex;
        justify-content: space-between;
        align-content: center;

        .logo {
            padding: 15px 50px;
        }

        .languages {
            text-decoration: none;
            color: #595959;
            padding: 25px 15px;

            .link {
                padding: 5px;
                color: #595959;
                font-weight: 400;
                font-size: 14px;

                &:hover {
                    text-decoration: none;
                    color: gray;
                }
            }
        }
    }

    nav {
        width: 100%;

        .menu {
            height: 62px;
            display: flex;
            // flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            span {
                color: #595959;
            }

            li {
                display: inline;
                border: 1px solid #D9D9D9;
                padding: 20px 50px;
                margin: 20px 0;

                .button {
                    text-decoration: none;
                    color: black;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 14px;
                    text-align: center;

                    &:hover {
                        text-decoration: none;
                        color: gray;
                    }
                }
            }
        }
    }
}

/*SLAJDER*/
.hero {
    margin: 0;
    width: 100%;
    height: 700px;
}

#about {
    min-height: 650px;
    background-color: #F4F4F4;
    display: flex;
    flex-wrap: wrap;
    color: #303030;

    .about-img {
        min-width: 400px;
        align-self: center;

        #dvg-image {
            width: 100%;
            height: auto;
        }
    }

    .about-text {
        padding: 100px 50px;
        max-width: 525px;

        h2 {
            font-weight: 700;
            font-size: 42px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            padding: 50px 0;
        }
    }
}

#distribution {

    .parallax {
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/distribution.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 5px;
        color: white;

        .divider-red {
            margin: 20px auto;
        }
    }
}

.distribution-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
    align-content: center;
    justify-items: center;

    .distribution-item {
        margin: 0 10px;
        cursor: pointer;

        a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            color: #474747;

            &:hover {
                color: black;
                font-weight: bold;
            }
        }

        img {
            margin-bottom: 10px;
        }
    }
}

.in-numbers {
    color: #303030;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;

    .divider-red {
        margin: 20px auto 100px auto;
    }

    h2 {
        font-weight: 700;
        font-size: 35px;
        margin-top: 100px;
    }

    p {
        font-family: 'Inter', sans-serif;
        color: #474747;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0;
    }

    .numbers-container {
        width: 100%;
        min-height: 350px;
        background-image: url(../images/in-numbers.png);
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        justify-items: center;

        .container-item {
            border-right: 1px solid #D9D9D9;
            padding: 0 100px;
            margin: 15px 0;

            &:last-child {
                border: none;
            }
        }

        p {
            color: white;
            font-size: 15px;
        }
    }
}

#our-products {
    min-height: 800px;
    background-color: #F4F4F4;

    .products-info {
        text-align: center;
        padding: 100px 50px 10px 50px;
        max-width: 525px;
        margin: 0 auto;

        p {
            font-size: 14px;
            line-height: 22px;
            padding: 50px 0;
        }
    }

    /*SLAJDER*/
    .products-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
        justify-items: center;

        .product-item {
            margin: 0 10px;

            h5 {
                font-size: 15px;
                font-weight: 400;
                color: #474747;
            }

            img {
                margin-bottom: 10px;
            }
        }
    }
}

#brands {
    text-align: center;

    .brands-info {
        text-align: center;
        padding: 100px 50px 10px 50px;
        max-width: 525px;
        margin: 0 auto;
    }

    .brands-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
        justify-items: center;

        .brands-item {
            margin: 20px 50px 70px 50px;

            p {
                font-size: 15px;
                font-weight: 400;
                color: #474747;
                text-align: center;
            }

            img {
                margin-bottom: 10px;
            }
        }
    }

    .red-button {
        margin-bottom: 50px;
    }
}

#footer {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contact-container {
        color: white;
        line-height: 2rem;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        justify-items: center;
    
        .contact-item {
            border-right: 1px solid #D9D9D9;
            padding-right: 150px;
            padding-left: 30px;
            margin: 50px 0;
    
            &:last-child {
                border: none;
            }

            a {
                display: block;
                text-decoration: none;
                color: white;
                font-family: 'Roboto Condensed', sans-serif;

                &:hover {
                    color: #595959;
                }
            }

            .social-media {
                margin-right: 10px;

                // &:hover {
                //     color: #595959;
                // }
            }

            span {
                margin-left: 10px;
            }

            h2 {
                margin-bottom: 20px;
            }
        }
    }

    .footer-info {
        background-color: rgba($color: #000000, $alpha: 0.6);
        min-height: 60px;
        color: #595959;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

        a {
            text-decoration: underline;
            color: #595959;
            padding: 10px 0;
        }

        p {
            display: inline;
            padding: 10px 0;
        }
    }
}